.customFileInput::-webkit-file-upload-button {
  visibility: hidden;
}
.customFileInput::before {
  content: 'Import Image';
  background: white;
  color: #4340fc;
  cursor: pointer;
  font-weight: normal;
  font-size: 12pt;
}
